[Unit]
Description=Earendil Service
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/earendil daemon --config CONFIG_PLACEHOLDER
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
